<div class="span12 responsive" style="margin-top: 50px" data-tablet="span12 fix-offset" data-desktop="span12">

  <!-- BEGIN EXAMPLE TABLE PORTLET-->
  <div class="portlet box grey">

    <div class="portlet-title">

      <div class="caption"><i class="icon-calendar"></i>洗车预约安排编辑</div>

      <div class="tools">

        <a href="javascript:;" class="collapse"></a>

        <a href="javascript:;" class="remove"></a>

      </div>

      <div class="actions">

        <a href="javascript:;" class="btn black" onclick="validate();"><i class="icon-save"></i>
          保存</a>

      </div>

    </div>


    <div class="portlet-body">
      <% if !@pre_schedule_record.blank? %>

          <form action="/time_manager/modify_update" id="form_time_update" class="form-horizontal" autocomplete="off">

            <div class="alert alert-error hide">

              <button class="close" data-dismiss="alert"></button>

              表格中有错误，请仔细检查.

            </div>

            <div class="alert alert-success hide">

              <button class="close" data-dismiss="alert"></button>

              表格验证正确!

            </div>

            <table class="table table-striped table-bordered table-hover table-full-width" id="shop_list">

              <thead>

              <tr>

                <th class="hidden-480">时间段</th>

                <th class="hidden-480">最大预约量</th>

                <th class="hidden-480">历史平均预约量</th>

                <th class="hidden-480">新最大预约量</th>

              </tr>

              </thead>

              <tbody>
              <% TIME_TABLE_LIST.each do |tr_key, tr_value| %>
                  <tr class="odd gradeX">
                    <% tr_value.each do |key, value| %>

                        <td>
                          <%= value %>
                        </td>

                        <td class="hidden-480">
                          <%= @pre_schedule_record[key] %>
                        </td>

                        <td class="hidden-480">
                          <%= @shop.book_records.average(key).to_i %>
                        </td>

                        <td class="hidden-480">
                          <div class="controls input-icon">

                            <input class="m-wrap placeholder-no-fix" type="text" placeholder="不能未空" name="<%= key %>" value="<%= @pre_schedule_record[key] %>"/>

                          </div>
                        </td>

                    <% end %>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </form>
      <% end %>

    </div>

  </div>

  <!-- END EXAMPLE TABLE PORTLET-->

</div>

<script>
    var form = $('#form_time_update');
    var error = $('.alert-error', form);

    form.validate({
                doNotHideMessage: true, //this option enables to show the error/success messages on tab switch.
                errorElement: 'span', //default input error message container
                errorClass: 'input-error tooltips', // default input error message class
                validClass: 'input-success tooltips',
                focusInvalid: false, // do not focus the last invalid input
                ignore: ".ignore",
                rules: {

                },
                messages: {
                },


                invalidHandler: function (event, validator) { //display error alert on form submit
                    error.show();
                    App.scrollTo(error, -200);
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                            .closest('.help-inline').removeClass('ok'); // display OK icon
                    $(element)
                            .closest('.control-group').removeClass('success').addClass('error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change dony by hightlight
                    $(element)
                            .closest('.control-group').removeClass('error'); // set error class to the control group
                },

                success: function (label, element) {
                    //自定义成功提示
                    label.closest('.control-group').removeClass('error').addClass('success'); // set success class to the control group
                    label.html("<i class='help-inline ok' style='margin-top: 0;'></i>");
                    label.insertAfter(element);
                },

                error: function (label, element) {
                    //自定义成功提示
                    label.closest('.control-group').removeClass('success').addClass('error'); // set success class to the control group
                    label.attr("data-original-title", label.text());
                    label.html("<i class='icon-exclamation-sign'></i>");
                    label.insertAfter(element);
                },

                update: function () {
                    App.updateTooltips();
                },

                submitHandler: function (form) {
                    error.hide();
                    jQuery.ajax({
                        type: 'POST',
                        url: $(form).attr("action"),
                        data: $(form).serialize(),
                        dataType: 'script'
                    });
                    //add here some ajax code to submit your form or just call form.submit() if you want to submit the form without ajax
                }
            }
    );


    function validate() {
        form.submit();
    }
    App.updateChoosenSelect();
    App.initUniform();
</script>