<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
  <title>工作流系统</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZerxZ4SMx50RzgmUzfGmbrGy"></script>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

</head>

<!-- BEGIN BODY -->

<body class="page-header-fixed page-sidebar-fixed page-footer-fixed">

<!-- BEGIN HEADER -->

<div class="header navbar navbar-inverse navbar-fixed-top">

  <!-- BEGIN TOP NAVIGATION BAR -->

  <div class="navbar-inner">

    <div class="container-fluid">

      <!-- BEGIN LOGO -->

      <a class="brand" href="index.html">

        <img src="<%= asset_path('image/logo.png') %>" alt="logo"/>

      </a>

      <!-- END LOGO -->

      <!-- BEGIN RESPONSIVE MENU TOGGLER -->

      <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">

        <img src="<%= asset_path('image/menu-toggler.png') %>" alt=""/>

      </a>

      <!-- END RESPONSIVE MENU TOGGLER -->

      <!-- BEGIN TOP NAVIGATION MENU -->

      <ul class="nav pull-right">

        <!-- BEGIN NOTIFICATION DROPDOWN -->

        <li class="dropdown" id="comment_notification_bar">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown">

            <i class="icon-warning-sign"></i>

            <span class="badge" style="display: none" id="comment_notification_badge">0</span>

          </a>

          <ul class="dropdown-menu extended notification" id="comment_notification">

            <li>

              <p>暂无新反馈</p>

            </li>

          </ul>

        </li>


        <li class="dropdown user">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown">

            <img alt="" src="<%= asset_path('image/avatar1_small.jpg') %>"/>

            <span class="username"><%= session[:name] %></span>

            <i class="icon-angle-down"></i>

          </a>

          <ul class="dropdown-menu">

            <li><a href="/modify?id=<%= session[:user_id] %>"><i class="icon-edit"></i> 修改密码</a></li>

            <li><a href="/logout"><i class="icon-key"></i> 退出账号</a></li>

          </ul>

        </li>

        <!-- END USER LOGIN DROPDOWN -->

      </ul>

      <!-- END TOP NAVIGATION MENU -->

    </div>

  </div>

  <!-- END TOP NAVIGATION BAR -->

</div>

<!-- END HEADER -->

<!-- BEGIN CONTAINER -->

<div class="page-container row-fluid">


  <!-- BEGIN SIDEBAR1 -->

  <div class="page-sidebar nav-collapse collapse">

    <!-- BEGIN SIDEBAR MENU1 -->

    <ul class="page-sidebar-menu">

      <li>

        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

        <div class="sidebar-toggler hidden-phone"></div>

        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

      </li>

      <li class="">

        <a href="javascript:;">

          <i class="icon-home"></i>

          <span class="title">商家管理</span>

          <span class="selected"></span>

          <span class="arrow"></span>

        </a>

        <ul class="sub-menu">

          <li>

            <a class="ajaxify shops" href="/shops">

              洗车店管理

            </a>

          </li>

          <li>

            <a class="ajaxify brands" href="/brands">

              品牌/连锁管理

            </a>

          </li>

        </ul>

      </li>

      <li class="">

        <a href="javascript:;">

          <i class="icon-bookmark-empty"></i>

          <span class="title">服务管理</span>

          <span class="selected"></span>

          <span class="arrow"></span>

        </a>

        <ul class="sub-menu">

          <li>

            <a class="ajaxify discount_type" href="/discount_types">

              服务信息类型

            </a>

          </li>

          <li>

            <a class="ajaxify discount" href="/discounts">

              服务信息查询

            </a>

          </li>

        </ul>

      </li>

      <li class="">

        <a class="ajaxify users" href="/users">

          <i class="icon-user"></i>

          <span class="title">用户管理</span>

          <span class="selected"></span>

        </a>

      </li>

      <li class="">

        <a href="javascript:;">

          <i class="icon-file-text"></i>

          <span class="title">平台管理</span>

          <span class="selected"></span>

          <span class="arrow"></span>

        </a>

        <ul class="sub-menu">

          <li>

            <a class="ajaxify comments" href="/comments">

              平台意见收集

            </a>

          </li>

        </ul>

      </li>


    </ul>

    <!-- END SIDEBAR MENU1 -->

  </div>

  <!-- END SIDEBAR1 -->

  <!-- BEGIN PAGE -->

  <div class="page-content">

    <!-- BEGIN PAGE CONTAINER-->

    <div class="container-fluid">

      <div id="messages">
      </div>
      <div id="confirm">
        <%= render '/layouts/confirm_modal' %>
      </div>
      <div class="page-content-body">
        <div class="span9" style="min-height: 480px;">
          <%= yield %>
        </div>
      </div>

    </div>

    <!-- HERE WILL BE LOADED AN AJAX CONTENT -->

  </div>

  <!-- BEGIN PAGE -->

</div>

<!-- END CONTAINER -->

<!-- BEGIN FOOTER -->

<div class="footer">

  <div class="footer-inner">

    &copy; 优雅科技 2013

  </div>

  <div class="footer-tools">

			<span class="go-top">

			<i class="icon-angle-up"></i>

			</span>

  </div>

</div>

<!-- END FOOTER -->
<script>
    <% port = '80' %>
    <% if Rails.env != 'production' %>
    <% port = WebsocketRails.config.standalone_port %>
    <%end%>
    var dispatcher = new WebSocketRails('<%= request.host %>:<%= port %>/websocket')
    var channel = dispatcher.subscribe('admin');
    channel.bind('comment', function (data) {
        $.ajax({
            async: false,
            type: 'GET',
            url: '/comments/comment_notifications',
            dataType: "json",
            success: function (result, textStatus, jqXHR) {
                var count = result.count
                if (count > 0) {
                    result = result.comment_notifications
                    $("#comment_notification").html("<li><p>您有" + count + "条新用户反馈</p></li>");
                    for (var i = 0; i < count; i++) {
                        var htmlStr = "<li><a href='javascript:;'>" +
                                "<span class='photo'><img src=" + result[i].user_photo + "></span>" +
                                "<span class='subject'><span class='from'>" + result[i].name +
                                "</span><span class='time'>" + result[i].created_at + "</span></span>" +
                                "<span class='message'>" + result[i].comment + "</span></a></li>"
                        $("#comment_notification").append(htmlStr);
                    }
                } else {
                    $("#comment_notification").html("<li><p>暂无新反馈</p></li>");
                    $('#comment_notification_badge').text(count);
                }
                comment_notification(data, count);
                App.fixContentHeight(); // fix content height
                App.initUniform(); // initialize uniform elements
            }
        });
    });

    function comment_notification(data, count) {
        if (data != null) {
            $.extend($.gritter.options, {
                position: 'top-right'
            });
            var title = '您有一个新用户反馈！';
            var text = "客户：" + data.name + "反馈：" + data.comment + "，详情请查看意见收集列表！";

            var unique_id = $.gritter.add({
                // (string | mandatory) the heading of the notification
                title: title,
                // (string | mandatory) the text inside the notification
                text: text,
                // (string | optional) the image to display on the left
                image1: "http://localhost:3000" + data.user_photo,
                // (bool | optional) if you want it to fade out on its own or just sit there
                sticky: true,
                // (int | optional) the time you want it to be alive for before fading out
                time: data.created_at + ":",
                // (string | optional) the class name you want to apply to that specific message
                class_name: 'my-sticky-class'
            });

            setTimeout(function () {
                $.gritter.remove(unique_id, {
                    fade: true,
                    speed: 'slow'
                });
            }, 8000);
        }
        $('#comment_notification_badge').text(count);
        if (count > 0) {
            $('#comment_notification_badge').show()
            $('#comment_notification_bar').pulsate({
                color: "#dd5131",
                repeat: 5
            });
        } else {
            $('#comment_notification_badge').hide()
        }
    }

    $('#comment_notification a').live("click", function () {
        $('.page-sidebar .ajaxify.comments').click()
    });

</script>
<!-- END BODY -->

</body>
</html>
